.idea/
node_modules
/public/storage
/public/fonts/vendor/
/public/js/app.js
/public/css/app.css
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
.idea/
/resources/views/auth.backup
laravel_guia