// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #4e2561;
$pink: #f66d9b;
$red: #e3342f;
$orange: #FF8527;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$naranja: #EB8808;
$tomate: #CC3E39;
$mora: #B5095B;
$uva: #370C60;
