/* Video */

.custom-cs-video-btn-primary {
    background-color: #4e2561 !important;
    color: #fff !important;
    box-shadow: none !important;
}

.lg-backdrop.in {
    opacity: 0.95 !important;
}

.custom-cs-video-btn::before {
    font-family: "feather";
    line-height: 5.625rem;
    content: "\E9C3";
}

.custom-cs-video-btn {
    display: inline-block;
    flex: 0 0 auto;
    width: 5.625rem;
    height: 5.625rem;
    padding-left: 0.125rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    background-color: #fff;
    color: #5a5b75;
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0.25rem 1rem -0.25rem rgba(55, 56, 78, 0.2);
    vertical-align: middle;
}

.home-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 0, 17, .9);
  z-index: 2;
}

/* Close Video */

.bkg-black {
  background-color: #000000;
}

.bkg-white {
  background-color: #ffffff;
}

.bkg-yellow {
  background-color: #c07f00;
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;

}
.select2-selection.select2-selection--multiple {
    width: 300px;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {

    white-space: unset !important;
}
.select2-selection__rendered {
    width: 300px;
    overflow-y: scroll !important;
    /* max-height: 34px; */
    resize: none;
    overflow-x: hidden !important;

}
.select2-selection.select2-selection--single {
    height: 34px;
}
.pac-input{
    max-width: 300px !important;

}
select2-search__field:placeholder-shown {
    width: auto !important;
}
.select2-selection__choice {
    overflow-x: hidden;
}
.select2-selection.select2-selection--single{

    border-radius: 10px;
}
.select2{
    max-width: 300px !important;
    overflow-x: clip;
}
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span {
    float: left;
    width: 14px;
    height: 14px;
    margin: 4px;
}
/* your colors */
.legend .superawesome { background-color: #FF7F00; }
.legend .awesome { background-color: #4e2561; }
.legend .kindaawesome { background-color: #ca0707; }
.legend .notawesome { background-color: #8fff4f; }
.img-fluid {
    max-width: 105%;
    height: auto;
}
.ss-content{
    height: 90%!important;
    width: 100%!important;
}
.scrollable{
    overflow:hidden;
    max-height:200px;
}
.scrollable:hover{
    overflow: scroll!important;
    max-height:200px
}
.logos{
    font-size: 200%;
    color: #370C60!important;
    font-weight: bold;
    line-height: 30px;
}
.black{
    color:black!important;
}
.linea{
top: -229px;
left: 798px;
width: 971px;
height: 971px;
border: 80px solid var(--unnamed-color-ff7f00);
border: 80px solid #FF7F00;
opacity: 0.08;
}

.select2-selection.select2-selection--multiple {
    border-radius: 10px;
}
.eventos-titulo{

color: #A13D8F;
}
.botonmora{
    top: 2775px;
left: 870px;
width: 163px;
height: 16px;
color: var(--unnamed-color-ffffff);
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
top: 2762px;
left: 850px;
width: 203px;
height: 44px;
background: #A13D8F 0% 0% no-repeat padding-box;
opacity: 1;
font-size: 17px;
}
.textoevento{

    color: #7A3240;

}
.color-morado{
    color:#4e2561
}
.btn-purple-gradient {
  background: rgb(78,37,97);
  background: linear-gradient(180deg, rgba(78,37,97,1) 0%, rgba(86,47,104,1) 24%, rgba(93,55,110,1) 44%, rgba(111,65,133,1) 100%, rgba(129,100,143,1) 100%, rgba(180,163,188,1) 100%);
}
.text-color-white {
  color: #ffffff;
}
.colornumero{
color: #370C60!important;
}
.fondoseccion{
    color:#D3D3D3;
}
.textoeventos{
    color: #4A4A4A;
}

.carousel-indicators {
    margin-top: 18px;
    display: flex;
    bottom: inherit;
}

.carousel-indicators li {
    width: 30px;
    height: 6px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: #30173c;
    opacity: 0.2;
    transition: opacity 0.6s ease;
}
